body {
opacity: 1 !important;
  height: 100%;
  background-color: transparent;
  font-family: Roboto, sans-serif;
  color: white;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
}
h1 {
  color: white;
  font-size: 4em;
  line-height: 1em;
  font-weight: 400;
  text-align: left;
}
h2 {
  margin-bottom: 0px;
  font-family: Raleway, sans-serif;
  color: white;
  font-size: 2.5em;
  line-height: 1.2em;
  font-style: normal;
  font-weight: 200;
  text-align: left;
}
h3 {
  padding-top: 0.2rem;
  padding-bottom: 0.4rem;
  color: black;
  font-size: 2em;
  line-height: 1em;
  font-weight: 700;
}
p {
  margin-bottom: 5px;
  padding: 1rem;
  color: white;
  line-height: 1.6em;
  font-weight: 300;
  text-align: left;
}
.section-top {
  background-image: url('../images/Den_Bosch_home.jpg');
  background-position: 50% 79%;
  background-size: cover;
  background-repeat: no-repeat;
}
.section-top.homepage {
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.29) 57%), url('../images/Den_Bosch_home_1.jpg');
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.29) 57%), url('../images/Den_Bosch_home_1.jpg');
  background-position: 0% 0%, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, scroll;
  font-size: 1em;
  text-decoration: none;
}
.div-top {
  min-height: 30rem;
  padding-top: 17rem;
  padding-right: 1rem;
  padding-left: 1rem;
}
.div-top.alt-homepage {
  height: 100vh;
  min-height: 30rem;
  padding-top: 20vh;
  padding-right: 6rem;
  padding-left: 6rem;
  font-family: Icomoon, sans-serif;
  font-weight: 400;
}
.column-top-right {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}
.blue-background-text-div {
  height: auto;
  border-radius: 9px;
  background-color: rgba(24, 155, 206, 0.87);
}
.top-nav-bar {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 10000;
  background-color: transparent;
  box-shadow: none;
}
.wolthuis-logo {
  padding-top: 0.7rem;
  padding-bottom: 0.5rem;
  float: left;
  clear: none;
}
.button-menu {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 6;
  max-height: 4rem;
  max-width: 10rem;
  min-width: 10rem;
  padding-left: 3rem;
  float: none;
  background-color: transparent;
  font-size: 1em;
}
.nav-menu {
  position: fixed;
  z-index: 200;
  display: block;
  width: 31%;
  padding-top: 4rem;
  padding-right: 1rem;
  padding-left: 0.8rem;
  background-color: rgba(24, 155, 206, 0.95);
  text-align: left;
}
.nav-link {
  margin-right: 1rem;
  margin-left: 1.2rem;
  padding: 0.6rem 2rem 0.6rem 0rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.56);
  color: white;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  list-style-type: disc;
}
.nav-link.w--current {
  color: rgba(255, 255, 255, 0.54);
  text-decoration: none;
}
.nav-link.intend {
  max-width: 11.2rem;
  margin-left: 3rem;
  padding: 0.3rem 0rem;
  border-bottom-style: none;
  font-size: 1em;
  font-weight: 300;
}
.nav-link.bold {
  margin-right: 1rem;
  margin-left: 1.2rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  border-bottom-style: none;
  font-size: 1.1em;
}
.nav-link.bold.home.w--current {
  margin-left: 1rem;
  padding-left: 0rem;
}
.alt-blue {
  margin-bottom: 0px;
  padding-top: 1rem;
  opacity: 1;
  color: white;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 300;
}
.div-menu {
  padding-left: 0rem;
}
.homepage-header {
  font-size: 4em;
  line-height: 1.3em;
  text-align: left;
  text-shadow: black 1px 1px 1px;
}
.menu-text-next-hamburger {
  position: absolute;
  left: 83px;
  bottom: 1.3rem;
  z-index: 26;
  display: inline;
  padding-left: 6px;
  color: rgba(255, 255, 255, 0.76);
  font-size: 1.4em;
  line-height: 1.6rem;
  text-decoration: none;
}

.link-hamburger {
  position: static;
  text-decoration: none;
}
.topmenu {
  position: relative;
  left: 0px;
  top: -4rem;
  right: 0px;
  z-index: 10000;
  min-height: 4rem;
  background-color: rgba(24, 155, 206, 0.95);
  box-shadow: rgba(0, 0, 0, 0.09) 0px 0px 3px 0px;
  font-family: Roboto, sans-serif;
}
.text-menu-item {
  margin-right: 1rem;
  margin-left: 1.2rem;
  padding: 0.4rem 2rem 0.4rem 0rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.56);
  font-size: 1.1em;
  font-weight: 500;
}
.white-line {
  height: 1px;
  max-height: 1px;
  min-height: 1px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.43);
}
.home-sub-header {
  text-shadow: black 1px 1px 2px;
}
.row-left {
  overflow-x: visible;
  overflow-y: visible;
  padding-bottom: 0rem;
}
.div-home-title {
  line-height: 1.6em;
}
.close-div {
  position: static;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 3;
  padding-right: 0.4rem;
}
.flex-cont {
  padding-bottom: 4rem;
  background-color: transparent;
}

.div-hamburger {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 28px;
  height: 28px;
  min-height: 28px;
  min-width: 28px;
  background-color: transparent;
  opacity: 1;
}
.hamburger {
  position: relative;
  left: 0px;
  right: 0px;
  bottom: 23px;
}
.arrow {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  opacity: 0;
}

.next-section {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  font-family: Icomoon, sans-serif;
  color: white;
  font-size: 1.8em;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
}

.loading {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  display: none;
  min-height: 30rem;
  background-color: rgba(24, 155, 206, 0.93);
  background-image: url('../images/spin (1).svg');
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}
html.w-mod-js *[data-ix="intro-header-homepage"] {
  opacity: 0;
  -webkit-transform: translate(0px, -19rem);
  -ms-transform: translate(0px, -19rem);
  transform: translate(0px, -19rem);
}
html.w-mod-js *[data-ix="intro-sub-header-home"] {
  opacity: 0;
}
html.w-mod-js *[data-ix="new-interaction-6"] {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
html.w-mod-js *[data-ix="laoding"] {
  display: block;
  opacity: 1;
}
@media (max-width: 991px) {
  h2 {
    text-align: left;
  }
  h3 {
    float: none;
    font-size: 1.5em;
    text-align: center;
  }
  p {
    float: none;
    text-align: center;
    text-shadow: none;
  }
  .section-top.homepage {
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.29) 68%), url('../images/Den_Bosch_home_1.jpg');
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.29) 68%), url('../images/Den_Bosch_home_1.jpg');
    background-position: 0% 0%, 28% 50%;
  }
  .div-top {
    height: 32rem;
    max-height: 33rem;
    min-height: 32rem;
    padding-top: 13rem;
    padding-left: 2rem;
  }
  .div-top.alt-homepage {
    height: 100vh;
    min-height: 33rem;
    padding-top: 20vh;
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .column-top-left {
    padding-left: 0rem;
  }
  .column-top-right {
    margin-top: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
  }
  .nav-menu {
    width: 40%;
    padding-bottom: 0rem;
    padding-left: 0.8rem;
    background-color: rgba(24, 155, 206, 0.95);
    text-align: left;
  }
  .nav-link {
    margin-left: 1rem;
    font-size: 1.1em;
  }
  .nav-link.intend {
    max-width: 14.2rem;
  }
  .nav-link.bold {
    margin-left: 1rem;
  }
  .nav-link.bold.home.w--current {
    margin-left: 1rem;
  }
  .alt-blue {
    padding-right: 1rem;
    text-align: left;
    text-shadow: none;
  }
  .div-menu {
    padding-left: 0rem;
  }
  .homepage-header {
    font-size: 3.9em;
  }
  .contact-heading-white {
    padding-top: 0rem;
    padding-bottom: 0rem;
    font-size: 1.8em;
    text-shadow: none;
  }
  
  .text-menu-item {
    margin-left: 1rem;
  }
  .white-line {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  }
  .row-left {
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .close-div {
    display: block;
  }
  .flex-cont {
    padding-bottom: 4rem;
    background-color: transparent;
  }
  
  .next-section {
    margin-bottom: 1rem;
  }
  .loading {
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: auto;
    z-index: 1;
    display: none;
    min-height: 31rem;
  }
}
@media (max-width: 767px) {
  h2 {
    font-size: 1.6em;
    text-align: left;
  }
  h3 {
    font-size: 1.4em;
    text-align: center;
  }
  p {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    text-align: center;
  }
  .section-top {
    max-height: 21rem;
    background-position: 28% 75%;
  }
  .section-top.homepage {
    max-height: 17rem;
    min-height: 17rem;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.29) 84%), url('../images/Den_Bosch_home_1.jpg');
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.29) 84%), url('../images/Den_Bosch_home_1.jpg');
    background-position: 28% 75%, 0px 50%;
  }
  .div-top {
    height: 20rem;
    max-height: 20rem;
    min-height: 20rem;
    padding-top: 9rem;
  }
  .div-top.alt-homepage {
    height: 18rem;
    max-height: 16rem;
    min-height: 17rem;
    padding-top: 9rem;
    padding-left: 2rem;
  }
  .column-top-left {
    padding-left: 1rem;
  }
  .column-top-right {
    padding-left: 6rem;
  }
  .nav-menu {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    padding-right: 0rem;
    padding-left: 1rem;
  }
  .nav-link {
    margin-left: 1.5rem;
    font-size: 1.4em;
  }
  .nav-link.w--current {
    font-size: 1.3em;
  }
  .nav-link.intend {
    max-width: 17rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    font-size: 1.3em;
  }
  .nav-link.bold {
    max-width: 17rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.4em;
  }
  .nav-link.bold.home {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .nav-link.bold.home.w--current {
    margin-left: 1.5rem;
    font-size: 1.4em;
  }
  .alt-blue {
    margin-bottom: 0px;
    padding-right: 0.5rem;
    font-size: 1.1em;
    text-align: center;
  }
  .div-menu {
    padding-left: 0.5rem;
  }
  .homepage-header {
    font-size: 2.6em;
  }
  .mobile-section-blue-description {
    background-color: #189bce;
    color: #189bce;
  }
  .div-mobile-section {
    padding: 1rem 0.5rem;
    background-color: transparent;
    color: white;
  }
  
  .text-menu-item {
    max-width: 17rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.4em;
  }
  .white-line {
    max-height: 1px;
    margin-right: 1rem;
    margin-left: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.54);
  }
  .line {
    width: 100%;
    max-height: 2rem;
    min-height: 2rem;
    border-bottom: 1px solid #189bce;
    text-shadow: none;
  }
  .row-left {
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: left;
  }
 
  .radio-button-label {
    font-size: 1.1em;
    line-height: 1.4em;
  }
  .next-section {
    font-size: 2em;
  }
  .loading {
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: auto;
    display: none;
    min-height: 17rem;
  }
}
@media (max-width: 479px) {
  h1 {
    color: white;
    font-size: 3em;
  }
  h2 {
    color: white;
    line-height: 1.3em;
    text-align: center;
  }
  h3 {
    padding-top: 0.5rem;
    padding-left: 0rem;
    font-size: 2em;
    text-align: center;
  }
  p {
    text-align: center;
  }
  .section-top {
    max-height: 26rem;
    background-position: 24% 72%;
  }
  .section-top.homepage {
    max-height: 20rem;
    min-height: 20rem;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.29) 81%), url('../images/Den_Bosch_home_1.jpg');
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.29) 81%), url('../images/Den_Bosch_home_1.jpg');
    background-position: 24% 72%, -104px 50%;
  }
  .div-top {
    height: 20rem;
    max-height: 20rem;
    min-height: 20rem;
    padding-top: 7rem;
    padding-left: 1rem;
  }
  .div-top.alt-homepage {
    height: 20rem;
    max-height: 20rem;
    min-height: 20rem;
    padding-top: 12rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .column-top-left {
    padding-top: 0rem;
    padding-right: 1rem;
    padding-left: 1rem;
    text-shadow: none;
  }
  .column-top-right {
    padding-left: 7rem;
  }
  .button-menu {
    padding-left: 1rem;
  }
  .nav-menu {
    padding-left: 1rem;
  }
  .nav-link {
    margin-right: 0rem;
    margin-left: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.4em;
  }
  .nav-link.w--current {
    font-size: 1.2em;
  }
  .nav-link.intend {
    max-width: 25.2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    font-size: 1.3em;
  }
  .nav-link.bold {
    margin-right: 0rem;
    margin-left: 0rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.4em;
  }
  .nav-link.bold.home {
    padding-top: 1rem;
  }
  .nav-link.bold.home.w--current {
    margin-right: 0rem;
    margin-left: 0.5rem;
    padding-top: 0.4rem;
    padding-bottom: 1rem;
    padding-left: 0rem;
    font-size: 1.4em;
  }
  .alt-blue {
    font-size: 1.1em;
    text-align: center;
    text-shadow: none;
  }
  .homepage-header {
    overflow-x: visible;
    overflow-y: visible;
    font-size: 2.3em;
    line-height: 1.3em;
    text-align: center;
  }
  .mobile-section-blue-description {
    background-color: #189bce;
  }
  .div-mobile-section {
    padding: 1rem 0.5rem;
  }
  .menu-text-next-hamburger {
    left: 3.7rem;
    font-size: 1em;
  }
  
  .contact-heading-white {
    padding-top: 0rem;
    padding-bottom: 0rem;
    text-shadow: none;
  }
  .text-afvaart {
    font-size: 1.1em;
  }
  
  .text-menu-item {
    margin-right: 5rem;
    margin-left: 0rem;
    padding-top: 1rem;
    padding-right: 0rem;
    padding-bottom: 1rem;
    font-size: 1.4em;
  }
  .white-line {
    height: 1px;
    min-height: 1px;
    margin-left: 0rem;
    padding-top: 0.4rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.54);
  }
  .line {
    text-shadow: none;
  }
  .row-left {
    text-shadow: none;
  }
  .div-home-title {
    text-shadow: none;
  }
  .col-blue {
    text-shadow: none;
  }
  .close-div {
    padding-right: 0.4rem;
  }
  .modal-boeken-overall {
    display: none;
  }
  .modal-contact {
    display: none;
  }
  .radio-button-label {
    padding-left: 0.2rem;
  }
  .next-section {
    text-shadow: none;
  }
  .loading {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: auto;
    display: none;
    min-height: 20rem;
    background-size: 20%;
  }
}

@font-face {
  font-family: 'Icomoon';
  src: url('../fonts/icomoon.woff') format('woff'), url('../fonts/icomoon.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}